<a href="https://colab.research.google.com/github/DevAnand-debugger/Pandas_EDA_tool/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Name=Dev Anand

###PRN=25070123039

###Batch=A2

####Experiment-9

###Study of pandas

In [ ]:
import pandas as pd

In [ ]:
s = pd.Series([10,20,30,40])
s#Pandas give a minimum of 2 dimensional array
#Also if print(s) than it only shows the output

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
#Create DataFrame
data = {
    "Name":["A","B","C"],
    "Marks":[85,90,78]
}
df = pd.DataFrame(data)
df

  Name  Marks
0    A     85
1    B     90
2    C     78

In [ ]:
df.head()
df.tail()

  Name  Marks
0    A     85
1    B     90
2    C     78

In [ ]:
#Find the Structure of the Data Frame
df.shape

(3, 2)

In [ ]:
df.ndim

2

In [ ]:
df.size

6

In [ ]:
df.columns

Index(['Name', 'Marks'], dtype='object')

In [ ]:
#Check all dtypes of DataFrame
df.dtypes

Name     object
Marks     int64
dtype: object

In [ ]:
#Access Individual Column
df["Name"]

0    A
1    B
2    C
Name: Name, dtype: object

In [ ]:
df["Marks"]

0    85
1    90
2    78
Name: Marks, dtype: int64

In [ ]:
#Access Specific Row
df.loc[1]

Name      B
Marks    90
Name: 1, dtype: object

In [ ]:
#Add a New Column
df["Grade"]= ["First Class","Distinction","Second Class"]
df

  Name  Marks         Grade
0    A     85   First Class
1    B     90   Distinction
2    C     78  Second Class

In [ ]:
df.loc[0,"Marks"]= 88
df

  Name  Marks         Grade
0    A     88   First Class
1    B     90   Distinction
2    C     78  Second Class

In [ ]:
df.drop("Grade",axis=1,inplace=True)
df

  Name  Marks
0    A     88
1    B     90
2    C     78

In [ ]:
#Perform Basic Statistical Analysis
mean1=df["Marks"].mean()
mean1

np.float64(85.33333333333333)

In [ ]:
mode1=df["Marks"].mode()
mode1

0    78
1    88
2    90
Name: Marks, dtype: int64

In [ ]:
median1=df["Marks"].median()
median1

88.0

In [ ]:
min1=df["Marks"].min()
max1=df["Marks"].max()
print(min1,max1)

78 90

In [ ]:
#Apply Condition (Filtering)
#Display students having marks greater than 80
df[df["Marks"]>80]

  Name  Marks
0    A     88
1    B     90